body {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
    color: #333;
}

.lijn {
  margin-left: 5%;
  margin-right: 5%
}

/* Afstand tussen verschillende secties vergroten */
.about, .history, .mission-vision, .team, .testimonials, .partners, .missie-visie, .contact {
  margin-bottom: 5%; 
}

.section {
  text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

/*Logo onder navbar overige pagina's*/
.titlefoto {
  margin-top: 0%;
  width: 60%;
 }

/*Nav bar*/
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.316); 
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 12px 16px;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

.navbar li a {
  display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 100%;
}

.navbar li a:hover {
  background-color: red;
  transition: 0.3s;
}

.active {
  background-color: red;
}

/* Styling voor de Contact link */
.navbar ul li.contact a:hover {
  color: red;
  background-color: transparent;
}

.navbar ul li.contact {
  position: absolute;
  right: 0;
}
/*End navigation bar*/

/* Titel foto home pagina */
.titel-image {
  background-image: url('Images/Exclusive911.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

/* Titel foto over ons pagina */
.titel-image2 {
  background-image: url('Images/lambolicht.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

/* Titel foto service pagina */
.titel-image3 {
  background-image: url('Images/ferraridonker.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.titel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.titel-text h1 {
  font-size: 3em;
  margin: 0;
}

.titel-text p {
  font-size: 1.5em;
}

/* Introductie Sectie */
.intro {
  background-color: #f0f0f0;
  padding: 40px 0;
  text-align: center;
}

.intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 18px;
  line-height: 1.6;
}


/*voor foto collage op hoofd pagina*/
.flex-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end; 
    background-color: rgba(211, 211, 211, 0);
    margin: 0%;
  }
  
  .flex-item {
    flex: 0 0 auto; 
    width: 33.33%; 
    border: 0px solid rgba(255, 255, 255, 0);
  }
  
  .flex-item img {
    width: 100%; 
    height: auto; 
    display: block;
  }
  
  /*twee foto's onder drie foto's*/
  .flex-container2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0); 
    margin: 0%;
  }
  
  .flex-item2 {
    flex: 0 0 auto; 
    width: 33.33%; 
    border: 0px solid rgba(255, 255, 255, 0);
  }
  
  .flex-item2 img {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
  .link {
    position: absolute;
    text-decoration: none;
    padding: 10px 14px;
    border: 2px solid white;
    color: white;
    font-size: 125%;
    bottom: 10px;
    margin: 1%;
    }
  
  .link:hover{
    border-color: red;
    color: red;
    transition: 0.3s;
  }

/* Video Sectie */
.video-section {
    padding: 40px 0;
    background-color: #f0f0f0; 
}

.video-container {
    padding: 20px;
    max-width: 100%;
}

/* Algemene sectie styling */
section {
  padding: 60px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Over ons sectie */
.about p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 600px;;
}

/* Geschiedenis sectie */
.geschiedenis p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 600px;
}

/* retro 911 foto*/
.foto {
  width: 100%;
}

 /* Missie en Visie sectie */
 .missie-visie {
  background-color: #f0f0f0;
}

.missie {
  width: 45%;
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 3%;
}

.visie {
  width: 45%;
  margin-bottom: 20px;
  margin-left: 50%;
}

.missie h3,
.visie h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.missie p,
.visie p {
  font-size: 18px;
  line-height: 1.6;
}

/* foto naast missie */
.foto-box {
  position: absolute;
  border: 0px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  margin-left: 55%;
  margin-top: 7%;
}

.foto-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* foto naast visie */
.foto-box2 {
  position: absolute;
  border: 0px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  margin-left: 9%;
  margin-top: -5%;
}

.foto-box2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Ons Team sectie */
.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 20px;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team-member h3 {
  margin: 10px 0 5px 0;
}

.team-member p {
  font-size: 16px;
  color: #555;
}

/* Testimonials Sectie */
.recentie .recentie {
  margin: 20px 0;
}

.recentie .recentie p {
  font-style: italic;
  font-size: 18px;
  line-height: 1.6;
}

.recentie .recentie h4 {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

/* sterren voor bij de recensies*/
.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  text-align: center;
}

.star {
  display: inline-block;
  font-size: 30px;
  color: gold;
}

/* Partners Sectie */
.partners-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.partners-logos img {
  width: 20%;
  margin: 1%;
}


/* Contactinformatie Sectie */
.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact ul li {
  font-size: 18px;
  line-height: 1.6;
  margin: 5px 0;
}

.contact-btn {
  display: inline-block;
  background-color: #333;
  color: white;
  margin-top: 0%;
  padding: 10px 20px;
  width: 10%;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: red;
  border-color: red;
  transition: 0.3s;
}

/*Diensten sectie styling*/
.text-container {
  margin-bottom: 2%; 
}

.services-container {
  display: flex;
  justify-content: space-auround;
  width: 80%;
}

.text-container,
.services-container {
  max-width: 90%; 
  margin: 0 auto; 
}

.text-container h2 {
  font-size: 225%;
  color: #333;
}

.service {
  flex: 1; 
  padding: 10px; 
  margin-right: 2%;
  margin-bottom: 2%; 
  margin-top: 2%;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.service p {
  font-size: 16px;
  color: #666;
}

/* Service Pakketten section styling */
.service-pakketten .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background: #f9f9f9;
  padding: 20px;
  margin: 2%;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 20%;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card h1 {
  margin-top: 0;
}

.product-card p {
  margin: 10px 0;
}

.product-card:hover {
  transition: 0.3s;
  box-shadow: 0 4px 8px #b7b5b5;
}

.price-btn {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.price-btn:hover {
  background-color: #555;
}


/* vraag section styling */
.vraag-item {
  margin-bottom: 20px;
}

.vraag-item h3 {
  margin-bottom: 10px;
}

   /* Footer */
   .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.footer .container2 {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 1%;
}

.footer-section h3 {
    border-bottom: 2px solid red;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: red;
    margin-left: 4px;
    transition: margin-left 0.6s;

}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 10px;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media li {
    list-style: none;
    margin: 0;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-media li a:hover {
    color: #ddd;
}